/* Common Design Start */
*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans';

}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
.btn_{
    width: 180px;
    margin : auto;
}
.btn_primary_{
    background-color: #FF900E; ;
    border:0 ;
    color: white;
    border-radius: 8px;
    width: 180px;
    height: 64px;
    font-size: 20px;
    font-weight: 600;
    margin: 0px auto;
}


/* header start */
.header{
    width: 100%;
    background: rgba(255, 144, 14, 0.1);
    overflow: hidden;
}

/* nav start */
.nav{
    /* background-color: yellow; */
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav_title{
    font-size: 45px;
    font-weight: 700;
}
.nav_menu{
    display: flex;
}
.nav_menu li a{
    font-size: 18px;
    font-weight: 500;
    color: #424242;
    margin-right: 30px;
    transition: 0.3s;
}
.nav_menu li a:hover{
    background-color: gray;
    padding: 10px;
    border-radius: 5px;
    color: white;
}
/* nav end */

/* Brand New Box Start */
.Brand_New_Box{
    width: 862px;
    /* background-color: lightgrey; */
    margin: 30px auto 20px auto;
    text-align: center;
}
.Brand_New_Title{
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: #131313;
}
.Brand_New_desc{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #727272;
    margin: 20px 0;
}
/* Brand New Box End */


/* Banner start */
.Banner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    
}
.banner_image{
    width: 1200px;
    height: 700px;
    margin-bottom: 50px;
}
/* Banner end */
/* header end */

/* main start */
.main{
    width: 90%;
    /* margin: 50px auto;
    margin-bottom:0px ; */
    margin: 50px auto 0px auto;
    /* background-color: yellow; */
}

/* Quick List Start */

.Quick_list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:73px ;
}
.Quick_list_Image{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
}
.grid_image_size{
    width: 342px;
    height: 342px;
}
.Quick_list_Detail{
    /* background-color: lightslategray; */

}
.Quick_List_Title{
    width: 468px;
    font-size: 45px;
    color: #727272;
}
.bold_span{
    color: black;
    font-weight: 700;
}
.color_span{
    color:  #FF900E;;
    font-weight: 700;
}
.Quick_List_Desc{
    width: 537px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin: 24px 0;
}
/* Quick List End */

/* Feature Start */
.Feature{
    margin-top: 100px;
    position: relative;
    /* overflow: hidden; */
    /* background-color: yellow; */
  
}
.Feature_Content{
    display: flex;
    gap: 50px;
}
.Feature_desc{
    /* background-color: lightseagreen; */
    width: 50%;

}
.Feature_title_and_color{
    display: flex;
    gap: 10px;
}
.mycolor{
    width: 5px;
    height: 100px;
    background-color: tomato;
    margin-top: 15px;
}
.Feature_Title{
    width: 468px;
    font-weight: 700;
    font-size: 45px;
    margin-top: 10px;
}
.feature_detail{
    width: 586px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-top: 24px;
    margin-bottom: 30px;
}
.Feature_Cards{

}
.feature_card{
    width: 586px;
    height: 135px;
    text-align: left;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    padding: 20px;
}
.card_title{
    width: 252px;
    font-weight: 600;
    font-size: 20px;
    color: black;
}
.card_desc{
    margin-top: 20px;
    width: 514px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
.Feature_Image{
    width: 50%;
}
.feature_image_{
    width: 90%;
    height: 1059px;
}
/* .Secondary_btn{
    background-color: red;
    width: 270px;
    margin: 0 auto;
  
} */
.btn_secondary{
    width: 242px;
    border: 0;
    background-color: #FF900E;
    color: white;
    border-radius: 8px;
    padding: 10px 15px;
    position: absolute;
    bottom: 20px;
    left: 45%;
    /* bottom: 0px; */
}
.up{
    font-size: 35px;
    font-weight: 700;
}
.down{
    font-size: 25px;
    font-weight: 700;
}
/* Feature end */

/* Fact Start */
.Fact{
    position:static;
    margin-top: 20px;
}
.fact_title{
   width: 258px;
   font-weight: 700;
   font-size: 45px
}
.fact_detail{
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
    width: 542px;
    line-height: 26px;
    color: #727272;
}
/* Fact end */

/* Work start */
.Work{
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
}
.box{
    width: 242px;
    height: 242px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 1s, box-shadow 0.2s ;
}
.box:hover{
    transform: rotate(45deg);
    box-shadow: 15px 15px 25px black;
}
.no-border{
    border: 0;
}
.icon_image{
    width: 45.22px;
    height: 45.22px;
}
.box_number{
    font-weight: 600;
    font-size: 45px;
    color: #424242;
}
.box_desc{
    font-weight: 600;
    font-size: 20px;
    color: #727272;
}
/* Work end */

/* Sponspors start */
.Sponspors{
    /* width: 542px; */
    margin-top: 50px;
    margin-bottom: 0px;
    text-align: center;
    /* background-color: green; */
    /* overflow: hidden; */
}
.sponspors_title{
    font-weight: 700;
    font-size: 45px;
    color: black;
}
.sponspors_desc{
    margin: 24px auto;
    width: 542px;
    font-size: 16px;
    font-weight: 400;
    color: #727272;
}
.Sponspors_Pic{
    display: flex;
    justify-content: space-around;
}
.sponspors_image{
    width: 167px;
    height: 50px;
}
/* Sponspors end */
/* main end */

/* MySection start */
.MySection{
    /* background-color: tomato; */
    border: 7px solid teal;
    margin-top: 50px;
    padding: 10px;
    
}
.MySection_Title{
    text-align: center;
    background-color: lightseagreen;
    border-radius: 7px;
    color: white;
    padding: 5px 10px;
    margin: 0px 15px 0px 15px;
    box-shadow: 15px 15px 15px black;
}
.MySectionContent{
    display: flex;
    padding: 20px;
}

.MySection_Left{
    width: 50%;
    padding: 20px;
    background-color: gold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Border{
    border-top: 35px solid yellow;
    border-right: 35px solid red;
    border-bottom: 35px solid green;
    border-left: 35px solid teal;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: progress 3s linear 0s infinite forwards ;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Border:hover{
    animation: progress_right 3s linear 0s infinite forwards ;
}
.circle{
    width: 50px;
    height: 50px;
    background-color: lightseagreen;
    border-radius: 50%;
    animation: updown 3s linear 0s infinite forwards ;
}
@keyframes progress {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes progress_right {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}
@keyframes updown {
    0%{
        transform: scale(1);
        background-color: lightseagreen;
    }
    25%{
        transform: scale(2);
        background-color: green;
    }
    50%{
        transform: scale(3);
        background-color: red;
    }
    75%{
        transform: scale(2);
        background-color: white ;
    }
    100%{
        transform: scale(1);
        background-color: lightseagreen ;
    }
}
.MySection_Right{
    width: 50%;
    background-color: rgb(84, 196, 117);
    text-align: center;
}
.MySection_Right_Title{
    color: white;
    text-shadow: 5px 5px 2px red;
}
.youtube_video{
    width: 450px;
    height: 300px;
    border-radius: 15px;
}
/* MySection end */

/* footer start */
.footer{
    width: 90%;
    margin: 60px auto;
    height: 150px;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer_content{
    width: 1440px;
    height: 100px;
    background: #FFF4E7;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer_writing{
    font-weight: 400;
    font-size: 20px;
}
/* Footer end */


/* -----------------------
Responsive for Mobile start
---------------------------*/
@media only screen and (max-width: 576px )  {
    .main, .footer{
        width: 100%;
    }
    .nav{
        flex-direction: column;
    }
    .nav_menu{
        flex-direction: column;
        text-align: center;
    }
    .Brand_New_Box{
        width: 350px;
       
    }
    .Brand_New_Title{
        font-weight: 700;
        font-size: 30px;
        line-height: 35px;
        color: #131313;
    }
    .Brand_New_desc{
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        color: #727272;
        margin: 20px 0;
    }
    .Banner{
        flex-direction: column;
    }
    .banner_image{
        width: 350px;
        height: 350px;
    }

    /* Quick List Start */

   .Quick_list{   
        flex-direction: column;
   }
   .Quick_list_Image{   
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 20px;
   }
   
   .Quick_List_Title{   
       width: 350px;
       font-size: 35px;
       color: #727272;
       text-align: center;
   }

   .Quick_List_Desc{   
        width: 350px;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        margin: 24px 0;
        text-align: left;
   }

   /* Quick List End */

   /* Feature start */
   .Feature_Content{
       width: 350px;
       flex-direction: column;
       padding: 10px;
   }
   .Feature_desc{
       /* background-color: lightseagreen; */
       width: 100%;

   }
   .Feature_Title{
       width: 100%;
   }
   .feature_detail{
       width: 100%;
      padding: 25px;
     
   }
   .Feature_Cards{
     width: 350px;
     
   }
   .feature_card{
       width: 280px;
       height: 200px;
       padding: 25px;
       margin: 20px;
     
   }
   .card_desc{
       width: 100%;
   }
.Feature_Image{
    width: 100%;
}
.feature_image_{
    width: 100%;
}
.btn_secondary{
    position: static;
    width: 250px;
    margin-left: 20% ;
}

/* Feature end */

/* Fact Start */
.fact_title{
    width: 100%;
    font-weight: 700;
    font-size: 45px;
    text-align: center;
 }
 .fact_detail{
     width: 300px;
     text-align: center;
     /* background-color: yellow; */
     margin: 0 auto;
 }
/* Fact end */

/* work start */
.Work{
    flex-direction: column;
    width: 340px;
    /* background-color: tomato; */
}
.box{
    width: 300px;
     margin: 10px auto;
   /* background-color: yellow; */
}
/* Work end */
/* Sponser Start */
.sponspors_desc{
    width: 100%;
}
.Sponspors_Pic{
    flex-direction: column;
}
.sponspors_image{
    width: 50%;
    margin: 20px auto;
}
/* Sponser end */

/* My Section start */
.MySectionContent{
    flex-direction: column;
}
.MySection_Left{
    width: 100%;
    background-color:transparent;
}
.MySection_Right{
    width: 100%;
    background-color:transparent;
}
.youtube_video{
    margin-top: 20px;
    width: 250px;
}
/* My Section end*/

/* footer start */
.footer_content{
    width: 80%;
    text-align: center;
}
/* footer end */
}
/* -----------------------
Responsive for Mobile end
---------------------------*/