/* Common Design Start */
*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans';

}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
.btn_{
    width: 180px;
    margin : auto;
}
.btn_primary_{
    background-color: #FF900E; ;
    border:0 ;
    color: white;
    border-radius: 8px;
    width: 180px;
    height: 64px;
    font-size: 20px;
    font-weight: 600;
    margin: 0px auto;
}


/* header start */
.header{
    width: 100%;
    background: rgba(255, 144, 14, 0.1);
}

/* nav start */
.nav{
    background-color: yellow;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav_title{
    font-size: 45px;
    font-weight: 700;
}
.nav_menu{
    display: flex;
}
.nav_menu li a{
    font-size: 18px;
    font-weight: 500;
    color: #424242;
    margin-right: 30px;
}
/* nav end */

/* Brand New Box Start */
.Brand_New_Box{
    width: 862px;
    background-color: lightgrey;
    margin: 30px auto 20px auto;
    text-align: center;
}
.Brand_New_Title{
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: #131313;
}
.Brand_New_desc{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #727272;
    margin: 20px 0;
}
/* Brand New Box End */

/* Banner start */
.Banner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.banner_image{
    width: 1200px;
    height: 700px;
}
/* Banner end */
/* header end */

/* main start */
.main{
    width: 90%;
    margin: 50px auto;
    background-color: yellow;
}
.Quick_list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:73px ;
}
.Quick_list_Image{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
}
.grid_image_size{
    width: 342px;
    height: 342px;
}
.Quick_list_Detail{
    /* background-color: lightslategray; */

}
.Quick_List_Title{
    width: 468px;
    font-size: 45px;
    color: #727272;
}
.bold_span{
    color: black;
    font-weight: 700;
}
.color_span{
    color:  #FF900E;;
    font-weight: 700;
}
.Quick_List_Desc{
    width: 537px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin: 24px 0;
}
/* main end */